.loginstyle{
    width:768px;
    background-color:#47484B;
    margin:0 auto; 
}
h1{
    width:768px;
    margin:0 auto;
    font-style: italic;
    font-size: 36px;
    color: aliceblue;
    text-align: center;
    padding-bottom:20px;
    padding-top: 20px;
    
}
.formstyle{
    width: 568px;
    height:450px;
    margin: auto;
    background-color: #28A9E1;
    border-radius: 20px;
    padding-left: 200px;
    padding-top: 42px;
}
#Yourname{
    margin-top: 15px;
    margin-left: 50px;
    padding-left: 5px;
}
#Address{
    margin-top: 15px;
    margin-left: 36px;
    padding-left: 5px;
}
#Phone{
    margin-top: 15px;
    margin-left: 47px;
    padding-left: 5px;
}
#License{
    margin-top: 15px;
    margin-left: 22px;
    padding-left: 5px;
}
#Engine{
    margin-top: 15px;
    margin-left: 27px;
    padding-left: 5px;
}
#Date{
    margin-top: 15px;
    margin-left: 4px;
    padding-left: 5px;
}
#mechanic {
    margin-top: 15px;
    margin-left: 21px;
    padding-right: 82px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 7px;
}
#Pass{
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 64px;
   padding-left: 5px;
}
input{
    padding: 5px;
    border-radius: 7px;
}
.sub1{
    background-color: #47484B;
    color: azure;
    margin-left: -2px;
}
.sub2 {
    background-color: #47484B;
    color: azure;
    margin-left: 183px;
    padding-left: 15px;
    padding-right: 15px;
}